.postBanner {
  width: 100%;
  height: 25rem;
  object-fit: contain;
}

.postData {
  h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.625rem;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin-top: 1.5rem;

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.isEdited {
  font-style: italic;
  margin-top: 16px;
}

.postContent {
  margin-bottom: 50px;

  h2 {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1.625rem;
    margin: 4rem 0;
  }

  p {
    font-size: 1.125rem;
    font-weight: regular;
    line-height: 1.5rem;
    color: var(--text-body);
  }

  a {
    color: var(--highlight);
  }

  strong {
    font-weight: 700;
  }

  ul {
    padding-left: 1rem;

    li {
      margin: 0.5rem 0;
    }
  }
}

.postFooter {
  max-width: 720px;
  margin: 5rem auto 4rem;
  border-top: 1px solid #d7d7d744;
}

.footerButtons {
  display: flex;
  justify-content: space-between;
  margin: 48px 0 80px;

  h6 {
    font-size: 18px;
    color: var(--text-white);
    margin-bottom: 8px;
  }

  p {
    color: var(--highlight);
    font-weight: 600;

    transition: filter 0.2s;
    &:hover {
      filter: brightness(0.8)
    }

    &.nextPost {
      text-align: right;
    }
  }
}
